html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-size: 2.5rem;
}

a :hover {
    color: pink;
}
a :visited {
    color:rgb(0, 247, 255);
}

.sides {
    display: flex;
    padding: 2px 2rem;
}

nav {
    background-color: rgb(180, 244, 255);
    padding: 3rem 3rem;
    padding-bottom: 2.5rem;
}

.nav {
    display: flex;
    align-items: flex-start;
    padding-top: 2.5rem;
    padding-left: 4rem;

}

nav h1 {
    font-size: 4rem;
}

nav a {
    text-decoration: none;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 2.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.bio-photo {
    display: flex;
    padding-top: 1rem;
    justify-content: flex-start;
}

.bio-words {
    display: flex;
    flex-direction: column;
}

.bio-down {
    display: flex;
    flex-direction: column;
}
